{% extends 'airport/base.html' %}

{% block content %}

    <h2>Details of flight no {{ flight.pk }}:</h2>
    <p>From: {{ flight.source }} at {{ flight.departure_time }}</p>
    <p>To: {{ flight.destination }} at {{ flight.arrival_time }}</p>
    {% if request.user.is_authenticated %}
        <button type="button" class="btn btn-primary active">Buy a ticket</button>
    {% else %}
        <button type="button" class="btn btn-primary disabled">Log in to buy ticket</button>
    {% endif %}

    <h3>List of passengers:</h3>

{% endblock %}